
<div class="input-space" id="input_space">
    <div class="half-split">
        <div class="left-input-space">
            <div class="input-area">
                <div class="stretchy-input-field">

                    <div class="typing-area">
                        <span class="placeholder-field" ref=placeholder>
                            {% lorem 6 w random %}
                        </span>
                        <span
                            class="typing-area-field"
                            ref=user_message
                            @keydown.enter=enterdownHandler
                            @keydown=keydownHandler
                            @keyup.enter=enterupHandler
                            @keyup=keyupHandler
                            contenteditable="true"></span>
                    </div>

                </div>
            </div>
            <div class="immediate-options-area">
                <a href="#" class="button secondary" @click='sendButton'>Send</a>
                {# <a href="#" class="button ternary">Another</a> #}
            </div>
        </div>
        <div class="options-area">
            <a href="#" @click="getModels" class="button secondary">Get Models</a>
            <a href="#" @click="getRole" class="button secondary">Get Role</a>
            <a href="#" @click="getRoleSystem" class="button ternary">Set Role</a>
            <a href="#" @click="setModel" class="button ternary">Set New Model</a>
        </div>
    </div>
</div>