
<section class="intro first-intro design-3 chat-panel font-inter+tight-300">

    {% comment %}
        Apply the side label on both sides for even rendering.
        visible-none on one of them.
    {% endcomment %}
    <div class="pad-wrap">

        <span class="side-label">
            <span class="text-content">Machine</span>
        </span>

        <div class="alpha-grid-container" data-stage="0">

            <div class="machine-content-container">

                {% include "./index/header-bar.html" %}

                <div class="horiz-stack">

                    <div class="intro-content-container">
                        <div class="text-content">
                            <div class="large-quote">
                                <p>
                                    <span class="persona-editable" contenteditable="true">Seek to educate and equip society to implement AI safely.</span>
                                </p>
                                <a href="#" class="button secondary inline">Evaluate</a>
                            </div>
                            <div class="author">
                                <div class="indicator"></div>
                                <p>
                                    <span class="persona-editable" contenteditable="true">The Unresearch Collective.</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="conversation-window">
                        {% include "./index/conversation-header-bar.html" %}
                        {% include "./index/message-list.html" %}
                        {% include "./index/input-space.html" %}
                    </div>
                </div>

                {% include "./index/status-bar.html" %}
            </div>

            {% include "./index/overlay-panels.html" %}
        </div>

        <span class="side-label">
            <span class="text-content">Interface</span>
        </span>
    </div>


</section>
