
<section class="intro first-intro design-3 chat-panel font-inter+tight-300">
    {% comment %}
        Apply the side label on both sides for even rendering.
        visible-none on one of them.
    {% endcomment %}
    <div class="pad-wrap">
        {% include "./index/machine-panel.html" %}

        <span class="side-label">
            <span class="text-content">
                <a href="javascript: toggleClass('hidden', '.machine-panel.beta-grid-container')">Machine</a>
            </span>
        </span>

        {% include "./index/primary-panel.html" %}

        <span class="side-label">
            <span class="text-content">
                <a href="javascript: toggleClass('hidden', '.interface-panel.beta-grid-container')">Interface</a>
            </span>
        </span>

        {% include "./index/interface-panel.html" %}
    </div>

</section>
