<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prompting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prompting.css') }}">
</head>
<body>

<div class="layer-space">

    <div class="canvas-container back">
        <canvas id="back_canvas"></canvas>
    </div>

    <div id="app">
        {% raw %}

        <div id="toolbar">
            <!-- Quick-add node buttons -->
            <div class="toolbar-group">
                <span class="toolbar-label">Add</span>
                <div>
                    <select v-model='selected'>
                        <option>---</option>
                        <option value='function-call'>Function Call</option>
                        <option value='text-input'>Text Input</option>
                        <option
                            :value="item"
                            v-for='item in available'>{{ item }}</option>
                    </select>
                </div>
                <button class="btn-text-input"@click="spawnButton">Spawn</button>
                <div class="spacer"></div>
                <button class="btn-text-input" @click="stepButton">Step</button>
                <div class="spacer"></div>
                <button class="btn-text-input" @click="clickConnectButton">Connect</button>

            </div>
        </div>

        {% endraw %}

        {% raw %}
        <div id="panels">
            <div class="panel"
                :class="['type-' + panel.type]"
                v-for="(panel, i) in panels"
                :ref="'panel-' + panel.id"

                @click="focusSelect($event, panel)"
                :key="panel.id">

                <component :is='panel.type'
                    :uuid="panel.id"
                    :panel=panel
                    @update-post="onUpdatePost"></component>
            </div>
        </div>
        {% endraw %}
    </div>

    <div class="canvas-container fore">
        <canvas id="fore_canvas"></canvas>
    </div>

    <div class="templates">
        <div class="panel-template">
            {% include "./nodes/function-call.html" %}
            {% include "./nodes/text-input.html" %}
        </div>
    </div>

</div>

<!-- Vendors -->
<script src="{{ url_for('static', filename='js/vendor/vue.global.prod.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/dragsolo.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/chat.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/model-list.js') }}"></script>

<script src="{{ url_for('static', filename='js/vendor/pipes-runtime.js') }}"></script>
<!-- Space panning / zoom -->
<script src="{{ url_for('static', filename='js/vendor/infinite-drag.js') }}"></script>

<script src="{{ url_for('static', filename='js/prompting/simple-bridge.js') }}"></script>
<script src="{{ url_for('static', filename='js/prompting/node-register.js') }}"></script>
<script src="{{ url_for('static', filename='js/prompting/func-tools-comp.js') }}"></script>
<script src="{{ url_for('static', filename='js/prompting/index.js') }}"></script>

</body>
</html>
