<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/polyclass@latest/dist/polyclass.browser-full.js"></script>
    <link rel="stylesheet" href="./static/css/index.css">
    <title>Cluster</title>
</head>

<body polyclass class='background-#222
                        color-#DDD
                        margin-0
                        font-pack-lexend+deca-500
                        font-lexend+deca-500 letter-spacing-.1px'>
    <header class='primary background-#111'>
        <div class="logo padding-1em
                    font-size-1rem">Cluster</div>
    </header>
    <main>
        <header>
            <h1 class="title
                        text-align-center
                        font-size-5rem">
                Cluster
            </h1>
        </header>
    </main>

    {% raw %}
    <div id="mini-app">
        <ul class="socket-info widthed">
            <li>
                <input type="text" ref='url' name="url" id="url" value="ws://localhost:8765">
                <a href="javascript:;" @click=reconnect>Connect</a>
                <div class="connected-indicator" :data-connected="cacheCopy.socketConnected">
                    <span class="label">Connected: {{cacheCopy.socketConnected}}</span>
                </div>
            </li>
            <li>
                <select id="model-choice"
                    @change='changeModel'
                    ref='models'>
                    <option value="default">Default</option>
                    <option v-for='item in cacheCopy.models'
                            :value="item.model">{{ item.name }}</option>
                </select>
            </li>
        </ul>

        <ul class="input-interface widthed">
            <li class="presenter-item message-item user">
                <div class='type'>input</div>
                <textarea
                    name="input"
                    data-role='user'
                    @keydown.enter="enterSubmitText"
                    id="input"></textarea>
            </li>

            <li class="presenter-item message-item system">
                <div class='type'>system</div>
                <textarea
                    name="system"
                    data-role='system'
                    @keydown.enter="enterSubmitText"
                    id="system"></textarea>
            </li>

        </ul>
        <ul class="message-list widthed">
            <li class="message-item" :class='message.type' v-for='message in messages'>
                <div class='type'>{{ message.type }} - {{ message.model }}</div>
                <span class="message-text">{{ message.text }}</span>
            </li>

            <li class="presenter-item message-item assistant" :class="partialState.status">
                <div class='type'>
                    <span ref=status>{{ partialState.status }}</span>
                    <span ref=counter>{{ partialState.counter }}</span>
                </div>
                <div id="presenter" ref='presenter'></div>
            </li>
        </ul>
    </div>
    {% endraw %}

    <script src="./static/js/petite-vue.iife.js"></script>
    <script src="./static/js/index.js"></script>
</body>
</html>


